.section0 {
  margin: 5px;
  display: grid;
}
.section0 .grid-container {
  display: grid;
}
.flex-container {
  display: flex;
  flex-direction: row;
}

.grid-container {
  display: grid;
  padding-right: 5px;
}

.flex-container {
  display: flex;
  gap: 10px;
  border: 2px;
}

.flex-items h1 {
  font-weight: 900;
font-size: 40px;
line-height: 52px;
display: flex;
align-items: center;
color: #172b4d;
padding: 15px;
padding-top: 100px;
font-family: 'Poppin', sans-serif;
}

.flex-items p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-style: normal;
  margin-left: 24px;
}

.flex-items h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin-left: 24px;
  margin-bottom: 12px;
  margin-top: 12px;
}

.flex-items6 .flex-items {
  display: flex;
  flex-direction: row;

}

.sec .social {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 150px;
  margin-left: 24px;
}

.section .flex-container {
  display: flex;
  gap: 20px;
}
.es li img {
 padding-right: 1px;
}
.es p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  position: static;
  width: 327px;
  left: 24px;
  top: 276px;
  font-style: normal;
  margin-left: 24p
}
.big1 {
  list-style: none;
display: flex;
justify-content: space-between;
width: 29px;
top: 4px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #6070ff;

}
.flex-item6 .flex-item {
  display: flex;
  flex-direction: row;
  flex: 1;

}
  

.flex-item {
  flex: 1;/*instruct the flex items to grow and fill the width of the container*/
 
}

.big {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #344563;

}
body {
  font-family: 'Poppins', sans-serif;
}

div ol {
  list-style: none;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #68778c;
  font-family: 'poppins', sans-serif;
  display: flex;
  top: 8px;
  padding-right: 3px;

}
.flex-items p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  color: #344563;
}

.contact {background-color: #6070ff;
background-image: url("images/contact-mobile-bg.png");
background-size: contain;
background-repeat: no-repeat;
background-position: top right;
border: none;
border-top-left-radius: 35px;
padding: 30px;
color: #fff;
margin: 15% 10%;
width: 886px;
height: 740px;
}
.contact form textarea {
width: 100%;
font-weight: 400px;
font-size: 17px;
line-height: 20px;
border-radius: 8px;
margin-top: 15px;
padding-top: 25px;
padding-left: 15px;
border: none;
}

.contact form input {
padding-top: 15px;
padding-left: 10px;
}

.contact form input {
width: 100%;
padding-bottom: 25px;
font-weight: 400px;
font-size: 17px;
line-height: 20px;
border-radius: 8px;
margin-top: 15px;
border: none;
}
